<!-- Koalendar Floating Button -->
<script>
    window.Koalendar = window.Koalendar || function () {
        (Koalendar.props = Koalendar.props || []).push(arguments);
    };
</script>

<script async src="https://koalendar.com/assets/widget.js"></script>

<script>
    Koalendar('widget', {
            "url": "https://koalendar.com/e/bano-mascota",
            "text": "Reservar turno",
            "shape": "rounded",
            "backgroundColor": "#5145CD",
            "textColor": "#FFFFFF",
            "position": "bottom-right",
            "icon": "calendar"
        });
</script>
<!-- End Koalendar Floating Button -->