<div class="menu-cards">

    <a href="/precios/" class="menu-card card-lavanda">
        <div class="card-icon">
            🐾
        </div>
        <div class="card-title">SERVICIOS Y TARIFAS</div>
        <div class="card-description">
            Conocé el precio para tu mascota<br>
        </div>
    </a>

    <a href="/galeria/" class="menu-card card-durazno">
        <div class="card-icon">
            💜
        </div>
        <div class="card-title">Inspirá el corte para tu mascota</div>
        <div class="card-description">
            Antes y después<br>
            que enamoran
        </div>
    </a>

    <a href="/contacto/" class="menu-card card-azul">
        <div class="card-icon">
            📲
        </div>
        <div class="card-title">CONTACTO</div>
        <div class="card-description">
            Escribinos y<br>
            estamos para vos
        </div>
    </a>

    <a href="https://wa.me/c/59892417342" class="menu-card card-lavanda" target="_blank" rel="noopener">
        <div class="card-icon">
            🛍️
        </div>
        <div class="card-title">TIENDA</div>
        <div class="card-description">
            Mirá nuestros<br>
            productos
        </div>
    </a>

    <a href="/reserva/" class="menu-card card-violeta menu-card--wide">
        <div class="card-icon">
            📅
        </div>
        <div class="row">
            <div class="card-title">RESERVA</div>
            <div class="card-description">
                Elegí el mejor horario<br>
                para tu peludo
            </div>
        </div>
    </a>

</div>
